<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="FORMAT" value="${logging.format:-%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n}" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${FORMAT}</pattern>
    </encoder>
  </appender>

  <root level="${logging.level:-INFO}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
